{% extends 'base.html' %}
{% block content %}


<h1>Stock lists</h1>
<br/><br/>
<form action="{% url 'addStock' %}" class="d-flex" method="POST">
    {% csrf_token %}
  <input class="form-control me-2" type="search" placeholder="Type in the stock symbol" aria-label="Search" name="tickerSymbol">
  <button class="btn btn-outline-success" type="submit">Add Stock</button>
</form>
<br/><br/>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Latest Price </th>
      <th scope="col">Close Price </th>
      <th scope="col">Market Cap </th>
      <th scope="col">YTD Change </th>
      <th scope="col">52 Weeks High </th>
      <th scope="col">52 Weeks Low </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for list_item in tickerList %}
      <tr></tr>
        <th scope="row"><a href="">{{ list_item.symbol }}</a></th>
        <td>{{list_item.latestPrice}}</td>
        <td>{{list_item.previousClose}}</td>
        <td>{{list_item.marketCap}}</td>
        <td>{{list_item.ytdChange}}</td>
        <td>{{list_item.week52High}}</td>
        <td>{{list_item.week52Low}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>

<br/><br/>



{% endblock %}